.git
.github
.pytest_cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

backend/.tmp_pytest/
backend/.tmp_pytest/**
backend/tests/_tmp/
backend/tests/_tmp/**
backend/tests/.tmp_workdirs/
backend/tests/.tmp_workdirs/**

fronted/node_modules/
fronted/build/

dist/
tmp/
tmp_*/
